__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.pyre/
.pytype/
.mypy_cache/
.dmypy.json
.pyright/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
.env
.env.*
.venv
.envrc
celerybeat-schedule
instance/
.webassets-cache
scrapy.cfg
docs/_build/
build/
dist/
downloads/
eggs/
.eggs/
parts/
bin/
var/    
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints
# Jupyter Notebook
*.ipynb
# VS Code
.vscode/
.history/
# macOS
.DS_Store
Thumbs.db
# Windows
Desktop.ini
$RECYCLE.BIN/